{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <a href="{{ path('admin_user_new') }}">Créer un nouvel utilisateur</a>

    <ul>
        {% for user in users %}
            <li>
                {{ user.email }} - {{ user.roles[0] }}
                <a href="{{ path('admin_user_edit', {'id': user.id}) }}">Modifier</a>
                <a href="{{ path('admin_user_delete', {'id': user.id}) }}">Supprimer</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
